.user-table-container {

    display: flex;
    justify-content: center;
    align-items: center;

    .action-user-buttons-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

}



