<form class="edit-user-form"
    class="edit-user-form"
    [formGroup]="userForm"
    (ngSubmit)="submit()">

    <mat-form-field class="edit-user-form-field" appearance="outline">
        <mat-label>Login</mat-label>
        <input readonly="true" matInput formControlName="login"/>
    </mat-form-field>

    <mat-form-field class="edit-user-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input readonly="true" matInput formControlName="email"/>
    </mat-form-field>

    <mat-form-field class="edit-user-form-field" appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select matInput formControlName="role">
            <mat-option value="user">User</mat-option>
            <mat-option value="admin">Admin</mat-option>
        </mat-select>
    </mat-form-field>

    <button class="edit-user-form-button" mat-raised-button color="primary" type="submit">Save</button>

</form>

